@charset "UTF-8";
/*
em HTML é ID = CSS é #
em HTML é CLASS =  CSS é.
*/
body{
background-color: rgb(114, 180, 114);
font-family: Arial, Helvetica, sans-serif;

}

h1{
  color:rgba(29, 15, 224, 0.507);
 
}

#principal{
text-align: center;
background-color: chartreuse;
color: white;
  
}
h2{
  color: rgb(1, 41, 28);
}
.basico{
  color: rgb(56, 3, 202);
  font-weight: bold;

}
.intermediario{
color: yellow;
}
.avancado{
color: brown;
}
.destaque{
  background-color: coral;
}