@charset "UTF 8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: red;
}

header, header > nav{
    flex-flow: column nowrap;
}

header > h1{
    flex-basis: 50px;
}

header nav > a{
    width: 90vw;
}